@font-face {
  font-family: 'Nunito-fallback';
  size-adjust: 101.5%;
  ascent-override: 110%;
  src: local('Arial');
}

:root {
  --text: #ffffff;
  --text-sec: #8898af;
  --background: #1e232a;
  --background-sec: #242a33;
  --font-family: 'Nunito', 'Nunito-fallback';
}

::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow: overlay;
  background: var(--background);
  touch-action: manipulation;
  text-size-adjust: 100%;
  body {
    color: var(--text);
    font-size: 16px;
    font-family: var(--font-family);
    div#app {
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      width: 100dvw;
      height: 100dvh;
    }
  }
}

@mixin interface {
  padding: 0.8em;
  color: var(--text);
  font-size: 1rem;
  font-family: var(--font-family);
  background-color: var(--background-sec);
  border: none;
  border-radius: 0.5em;
  outline: none;
}

input,
textarea {
  @include interface;
  &::placeholder {
    color: var(--text-sec);
    word-break: break-all;
    user-select: none;
  }
}

select {
  @include interface;
  cursor: pointer;
  appearance: none;
}

label.checkbox {
  @include interface;
  text-align: center;
  cursor: pointer;
  > span {
    visibility: hidden;
  }
  > input {
    display: none;
    &:checked + span {
      visibility: visible;
    }
  }
}

button {
  @include interface;
  background-color: #2688eb;
  box-shadow: inset 0 -4px #157ce5;
  cursor: pointer;
  transition:
    color 0.2s ease,
    background-color 0.2s ease,
    box-shadow 0.2s ease,
    border-color 0.2s ease;
  &:hover,
  &:focus {
    background-color: #57a3f0;
    box-shadow: inset 0px -4px 0px #3f96ed;
  }
  &:active {
    background-color: #1370cd;
    box-shadow: inset 0px -4px 0px #1163b6;
  }
  &.alt {
    color: #2688eb;
    background-color: rgba(#2688eb, 0.1);
    border: 1px solid #2688eb;
    box-shadow: none;
    &:hover,
    &:focus {
      color: #57a3f0;
      background-color: rgba(#57a3f0, 0.1);
      border-color: #57a3f0;
    }
    &:active {
      color: #1370cd;
      background-color: rgba(#1370cd, 0.1);
      border-color: #1370cd;
    }
  }
}
