:root {
  --text: #ffffff;
  --text-sec: #8898af;
  --background: #1e232a;
  --background-sec: #242a33;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

html {
  overflow: overlay;
  color: var(--text);
  font-size: 16px;
  background: var(--background);
}

textarea {
  padding: 0.8em;
  color: var(--text);
  font-weight: 500;
  font-size: 0.8em;
  background-color: var(--background-sec);
  border: none;
  border-radius: 0.5em;
  &:focus {
    outline: none;
  }
}
